.header {
  background-color: navy;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-container {
  display: flex;
}

.header-logo {
  margin: 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 350px;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-nav-item {
  margin: 0;
}

.header-nav-link {
  text-decoration: none;
  color: #fff;
}
